##  How to import pandas and check version

In [2]:
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json=True))

0.23.4
{'system': {'commit': None, 'python': '3.6.7.final.0', 'python-bits': 64, 'OS': 'Darwin', 'OS-release': '18.0.0', 'machine': 'x86_64', 'processor': 'i386', 'byteorder': 'little', 'LC_ALL': 'None', 'LANG': 'en_CA.UTF-8', 'LOCALE': 'en_CA.UTF-8'}, 'dependencies': {'pandas': '0.23.4', 'pytest': '3.2.1', 'pip': '18.1', 'setuptools': '40.5.0', 'Cython': '0.26.1', 'numpy': '1.14.2', 'scipy': '1.0.0', 'pyarrow': None, 'xarray': None, 'IPython': '6.1.0', 'sphinx': '1.6.3', 'patsy': '0.4.1', 'dateutil': '2.6.1', 'pytz': '2017.2', 'blosc': None, 'bottleneck': '1.2.1', 'tables': '3.4.4', 'numexpr': '2.6.2', 'feather': None, 'matplotlib': '3.0.2', 'openpyxl': '2.4.8', 'xlrd': '1.1.0', 'xlwt': '1.2.0', 'xlsxwriter': '1.0.2', 'lxml': '4.1.0', 'bs4': '4.6.0', 'html5lib': '0.999999999', 'sqlalchemy': '1.1.13', 'pymysql': None, 'psycopg2': '2.7.1 (dt dec pq3 ext lo64)', 'jinja2': '2.9.6', 's3fs': None, 'fastparquet': None, 'pandas_gbq': None, 'pandas_datareader': None}}
None

## how to initialize a Series

In [3]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

#build 
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

## How to convert series to dataFrame

In [4]:
df = ser3.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

## How to initialize DataFrame

In [5]:
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
print(df.head())

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

## How to merge 2 series

In [6]:
# 选择部分数据进行合并, 便与看到合并效果
s1 = ser1[:16]
s2 = ser2[14:]
s1

0     a
1     b
2     c
3     e
4     d
5     f
6     g
7     h
8     i
9     j
10    k
11    l
12    m
13    n
14    o
15    p
dtype: object

In [7]:
pd.concat([s1, s2], axis=1) #axis=1 meaning column direction, append S2 columns after S1 columns

      0     1
0     a   NaN
1     b   NaN
2     c   NaN
3     e   NaN
4     d   NaN
5     f   NaN
6     g   NaN
7     h   NaN
8     i   NaN
9     j   NaN
10    k   NaN
11    l   NaN
12    m   NaN
13    n   NaN
14    o  14.0
15    p  15.0
16  NaN  16.0
17  NaN  17.0
18  NaN  18.0
19  NaN  19.0
20  NaN  20.0
21  NaN  21.0
22  NaN  22.0
23  NaN  23.0
24  NaN  24.0
25  NaN  25.0

In [8]:
pd.concat([s1, s2], axis=0) #axis=0 meaning row direction, append S2 rows after S1 rows

0      a
1      b
2      c
3      e
4      d
5      f
6      g
7      h
8      i
9      j
10     k
11     l
12     m
13     n
14     o
15     p
14    14
15    15
16    16
17    17
18    18
19    19
20    20
21    21
22    22
23    23
24    24
25    25
dtype: object

## How to find items in Series1 but not in Series2

In [10]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser1[~ser1.isin(ser2)] #~ is not

3    4
4    5
dtype: int64

## How to union 2 Series ( result is common rows only appear once)

In [11]:
np.union1d(ser1,ser2)

array([1, 2, 3, 4, 5, 6, 7, 8])

## How to find items in both Series1 and Series2

In [12]:
np.intersect1d(ser1, ser2)

array([4, 5])

## how to find different items( filter out same items)

In [13]:
u = pd.Series(np.union1d(ser1, ser2))
i = pd.Series(np.intersect1d(ser1, ser2))
u[~u.isin(i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

## How to get minimum value, %25 value, %50 value, %75 value and maximum value

In [14]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.random.RandomState(100)
np.percentile(ser, q=[0, 25, 50, 75, 100])

array([-3.02933318,  7.08378178, 10.08428601, 13.02576581, 17.26183281])

## How to group counting

In [16]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    5
g    5
e    4
d    4
h    4
b    3
a    3
f    2
dtype: int64

## How to get the value count of first 2 in counting rank

In [18]:
v_cnt = ser.value_counts()
cnt_cnt=v_cnt.value_counts().index[:2]
cnt_cnt

Int64Index([4, 5], dtype='int64')

## How to get the row index of first 2 max counting

In [19]:
index = v_cnt[v_cnt.isin(cnt_cnt)].index
index

Index(['c', 'g', 'e', 'd', 'h'], dtype='object')

## How to group values into 10 sub groups - qcut

In [20]:
ser = pd.Series(np.random.random(20))
ser.head()

0    0.214236
1    0.020470
2    0.896774
3    0.612597
4    0.548697
dtype: float64

In [21]:
groups = pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])
groups.head()

0     3rd
1     1st
2    10th
3     9th
4     8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

## How to reshape in DataFrame

In [22]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
df

   0  1  2  3  4
0  4  6  7  6  6
1  4  7  7  8  9
2  2  5  6  8  2
3  6  9  5  4  6
4  3  8  7  6  7
5  4  7  9  9  5
6  3  9  8  1  1

## How to get items by filtering function

In [23]:
ser = pd.Series(np.random.randint(1, 10, 7))
ser

0    9
1    2
2    8
3    7
4    2
5    5
6    7
dtype: int64

In [24]:
np.argwhere(ser % 2==0)

array([[1],
       [2],
       [4]])

## How to get items at particular index - take

In [25]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

## How to get index of certain items in aim list - get_loc

In [26]:
aims = list('adhz')
[pd.Index(ser).get_loc(i) for i in aims]

[0, 3, 7, 25]

## How to get the mean square error

In [27]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)
np.mean((truth-pred)**2)

0.369126161334801

## How to change first charactor to Upper case

In [38]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

## How to get item length

In [29]:
ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

## How to get 1st diff

In [30]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

# 一级差分
ser.diff()

0    NaN
1    2.0
2    3.0
3    4.0
4    5.0
5    6.0
6    6.0
7    8.0
dtype: float64

## How to get 2nd diff

In [31]:
# 二级差分
ser.diff().diff()

0    NaN
1    NaN
2    1.0
3    1.0
4    1.0
5    1.0
6    0.0
7    2.0
dtype: float64