In [29]:
import pandas as pd
import numpy as np

pd.__version__

'0.23.4'

In [30]:
dates = pd.date_range('20181227', periods=10)
dates

DatetimeIndex(['2018-12-27', '2018-12-28', '2018-12-29', '2018-12-30',
               '2018-12-31', '2019-01-01', '2019-01-02', '2019-01-03',
               '2019-01-04', '2019-01-05'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(10,4), index=dates, columns=list('ABCD'))
df

                   A         B         C         D
2018-12-27 -0.568760  1.597978  1.454101 -0.347662
2018-12-28  0.357688  0.217543 -0.586735 -1.405633
2018-12-29  1.277920  0.038991  1.448607  0.454571
2018-12-30  0.303524  0.485560  0.406158 -0.199256
2018-12-31 -0.214413  0.898735  0.681016  0.084672
2019-01-01 -0.665130  0.739385  0.183530 -0.600182
2019-01-02 -1.199389  0.175204  0.643070 -0.037645
2019-01-03  0.600307  0.225677 -0.083836 -0.112268
2019-01-04  0.957897 -0.835610 -0.912515 -1.813901
2019-01-05  0.831555 -0.010168 -0.204144 -0.187566

In [10]:
df2 = pd.DataFrame({'A':np.random.randn(10)})
df2

          A
0  0.792488
1  1.889730
2  0.248085
3 -1.194318
4 -0.602597
5 -0.657166
6 -0.179682
7  0.504020
8 -0.537998
9 -0.739363

In [13]:
df2 = pd.DataFrame({'A':pd.Timestamp('20181227'), 'B':pd.Series(1)})
df2

           A  B
0 2018-12-27  1

In [15]:
df2 = pd.DataFrame({'A':pd.Timestamp('20181227'), 'B':pd.Series(1, index=list(range(4)))})
df2

           A  B
0 2018-12-27  1
1 2018-12-27  1
2 2018-12-27  1
3 2018-12-27  1

In [16]:
df2.dtypes

A    datetime64[ns]
B             int64
dtype: object

In [17]:
df.dtypes

A    float64
B    float64
C    float64
D    float64
dtype: object

In [18]:
df

                   A         B         C         D
2018-12-27 -0.568760  1.597978  1.454101 -0.347662
2018-12-28  0.357688  0.217543 -0.586735 -1.405633
2018-12-29  1.277920  0.038991  1.448607  0.454571
2018-12-30  0.303524  0.485560  0.406158 -0.199256
2018-12-31 -0.214413  0.898735  0.681016  0.084672
2019-01-01 -0.665130  0.739385  0.183530 -0.600182
2019-01-02 -1.199389  0.175204  0.643070 -0.037645
2019-01-03  0.600307  0.225677 -0.083836 -0.112268
2019-01-04  0.957897 -0.835610 -0.912515 -1.813901
2019-01-05  0.831555 -0.010168 -0.204144 -0.187566

In [19]:
df.head()

                   A         B         C         D
2018-12-27 -0.568760  1.597978  1.454101 -0.347662
2018-12-28  0.357688  0.217543 -0.586735 -1.405633
2018-12-29  1.277920  0.038991  1.448607  0.454571
2018-12-30  0.303524  0.485560  0.406158 -0.199256
2018-12-31 -0.214413  0.898735  0.681016  0.084672

In [20]:
df.head(3)

                   A         B         C         D
2018-12-27 -0.568760  1.597978  1.454101 -0.347662
2018-12-28  0.357688  0.217543 -0.586735 -1.405633
2018-12-29  1.277920  0.038991  1.448607  0.454571

In [21]:
df.tail(3)

                   A         B         C         D
2019-01-03  0.600307  0.225677 -0.083836 -0.112268
2019-01-04  0.957897 -0.835610 -0.912515 -1.813901
2019-01-05  0.831555 -0.010168 -0.204144 -0.187566

In [22]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [23]:
df.values

array([[-0.56875959,  1.59797829,  1.45410129, -0.34766191],
       [ 0.35768788,  0.21754342, -0.58673483, -1.40563309],
       [ 1.27792018,  0.03899063,  1.44860679,  0.45457072],
       [ 0.30352351,  0.48556047,  0.40615822, -0.19925642],
       [-0.21441344,  0.89873514,  0.6810157 ,  0.08467225],
       [-0.66512957,  0.73938522,  0.18353042, -0.60018197],
       [-1.19938892,  0.1752037 ,  0.64307012, -0.03764511],
       [ 0.60030727,  0.22567706, -0.08383582, -0.11226811],
       [ 0.95789709, -0.83560973, -0.91251451, -1.81390083],
       [ 0.83155478, -0.01016778, -0.20414425, -0.18756585]])

In [24]:
type(df)

pandas.core.frame.DataFrame

In [25]:
df.T

,2018-12-27 00:00:00,2018-12-28 00:00:00,2018-12-29 00:00:00,2018-12-30 00:00:00,2018-12-31 00:00:00,2019-01-01 00:00:00,2019-01-02 00:00:00,2019-01-03 00:00:00,2019-01-04 00:00:00,2019-01-05 00:00:00
A,-0.568760,0.357688,1.277920,0.303524,-0.214413,-0.665130,-1.199389,0.600307,0.957897,0.831555
B,1.597978,0.217543,0.038991,0.485560,0.898735,0.739385,0.175204,0.225677,-0.835610,-0.010168
C,1.454101,-0.586735,1.448607,0.406158,0.681016,0.183530,0.643070,-0.083836,-0.912515,-0.204144
D,-0.347662,-1.405633,0.454571,-0.199256,0.084672,-0.600182,-0.037645,-0.112268,-1.813901,-0.187566

In [32]:
df.sort_values(by=['C'])

                   A         B         C         D
2019-01-04  0.957897 -0.835610 -0.912515 -1.813901
2018-12-28  0.357688  0.217543 -0.586735 -1.405633
2019-01-05  0.831555 -0.010168 -0.204144 -0.187566
2019-01-03  0.600307  0.225677 -0.083836 -0.112268
2019-01-01 -0.665130  0.739385  0.183530 -0.600182
2018-12-30  0.303524  0.485560  0.406158 -0.199256
2019-01-02 -1.199389  0.175204  0.643070 -0.037645
2018-12-31 -0.214413  0.898735  0.681016  0.084672
2018-12-29  1.277920  0.038991  1.448607  0.454571
2018-12-27 -0.568760  1.597978  1.454101 -0.347662